<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" routerLink="/admin/dashboard" style="margin-left:30px;"> Khảo sát Hưng Yên </a>
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i  class="fa fa-bars text-muted"></i>
    </button>
    <div class="collapse navbar-collapse">
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="{{ 'Search'  }}" type="text" />
        </form> -->

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" *ngIf="tokenAdmin != null" ngbDropdownToggle>
                    <i class="fa fa-user"></i> Xin chào, {{data_getDN.hoVaTen}}
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu style="font-size: 14px !important;width:150px;">
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' }}
                    </a>
                    <!-- <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}
                    </a> -->
                    <a (click)="onLoggedout()" [routerLink]="['/login']" class="dropdown-item">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>