<section class="single" ngDefaultControl>
    <div class="container">
        <div class="row" *ngIf="data_getone">
            <div class="col-md-3 sidebar" id="sidebar">
                <aside>
                    <h3 class="aside-title">Phiếu Khảo Sát</h3>
                    <div class="aside-body">
                        <div>
                            <div class="item-in">
                                <b>Mã Phiếu :</b>
                                <span> 111111</span>
                            </div>
                            <div class="item-in">
                                <b>Thời gian bắt đầu :</b>
                                <span> 111111</span>
                            </div>
                            <div class="item-in">
                                <b>Thời gian kết thúc :</b>
                                <span> 111111</span>
                            </div>


                        </div>
                        <hr>
                    </div>
                </aside>
                <aside>
                    <!-- <h1 class="aside-title">Techno</h1> -->
                    <div class="aside-body">
                        <h1 class="aside-title">Technoware</h1>
                        <article class="article-fw">
                            <div class="inner">
                                <button class="btn btn-sm btn-info question " *ngFor="let item of data; let i=index" style="color: #fff; border-radius: 5px;" (click)="getOne(item.maCauHoi)" (click)="getDapAn(item.maCauHoi)"> {{i+1}}</button>
                            </div>
                        </article>
                        <h1 class="aside-title">Technoware</h1>
                        <article class="article-fw">
                            <div class="inner">
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>

                            </div>
                        </article>
                        <h1 class="aside-title">Technoware</h1>
                        <article class="article-fw">
                            <div class="inner">
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>

                            </div>
                        </article>
                        <h1 class="aside-title">Technoware</h1>
                        <article class="article-fw">
                            <div class="inner">
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>
                                <div class="btn btn-sm btn-info question"> 1</div>

                            </div>
                        </article>
                        <div class="line"></div>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="images/news/img05.jpg">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">Lifestyle</a></div>
                                        <div class="time">December 22, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="images/news/img02.jpg">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Fusce ullamcorper elit at felis cursus suscipit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">Travel</a></div>
                                        <div class="time">December 21, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="images/news/img13.jpg">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="single.html">Duis aute irure dolor in reprehenderit in voluptate velit</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="category.html">International</a></div>
                                        <div class="time">December 20, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>

            <div class="col-md-3">
                <h3> Hướng dẫn trả lời câu hỏi</h3>
                <hr>
                <p>
                    {{data_getone.goiYcauHoi}}
                </p>
            </div>
            <div class="col-md-6">

                <div class="form-group" style="float: right;">
                    <label><input type="checkbox" name="category"> Đánh dấu xem lại</label>
                </div>
                <article class="article main-article">
                    <header>
                        <h3>Câu Hỏi: </h3>
                        <hr>
                    </header>
                    <div class="main" style="padding-top: 0px;">
                        <h2 ngDefaultControl style="margin-top:0px;"> {{data_getone.noiDung}}</h2>

                        <!-- <tr *ngFor="let item of data; let i=index"> -->
                        <!-- <div *ngFor="let item of data; let i=index">
                            <p> {{item.noiDung}} </p>
                            <p>Nội dung câu hỏi....................................</p>
                        </div> -->
                        <!-- <div *ngFor="let item1 of data1; let i=index">
                            <p> {{item1.noiDung}} </p>
                            <p>Nội dung câu hỏi....................................2</p>
                        </div> -->
                        <!-- <input type="text" name="" [(ngModel)]="data1.noiDung"> {{data1.}} -->

                        <div class="featured">
                            <form class="checkbox-group">
                                <div *ngIf="data_getone.maLoaiCauHoi==1">
                                    <div class="form-group" *ngFor="let answer of data_Answer; let i=index">
                                        <label><input type="radio" name="date" value="answer.noiDung" > {{answer.noiDung}} </label>
                                    </div>
                                </div>
                                <div *ngIf="data_getone.maLoaiCauHoi==2">
                                    <div class="form-group" *ngFor="let answer of data_Answer; let i=index">
                                        <label><input type="checkbox" name="date" value="answer.noiDung" > {{answer.noiDung}} </label>
                                    </div>
                                </div>
                                <div *ngIf="data_getone.maLoaiCauHoi==3">
                                    <div class="form-group">
                                        <label for=""></label>
                                        <input type="text" name="" id="" class="form-control" placeholder="Nhập đáp án trả lời phù hợp ...." aria-describedby="helpId">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="btn btn-info">Trở lại</div>
                    <div class="btn btn-info" style="float: right; margin-left: 5px;">Tiếp tục</div>
                    <div class="btn btn-info" style="float: right;">Nộp bài</div>
                </article>
                <!-- hịaahshshshshsshsh
                <div *ngFor="let item1 of data1; let i=index">
                    <p>{{i+1}}</p>
                    <p> {{item1.noiDung}} </p>
                </div> -->

            </div>
        </div>
        <div class="row" style="min-height: 500px;text-align:center" *ngIf="data_getone==null">
            <div class="col-md-12" style="text-align:center">
                <h2>
                    Bạn có muốn bắt đầu khảo sát ngay bây giờ ?
                </h2>
                <div>
                    <button class="btn btn-info" style="padding:15px; margin-right: 10px;" (click)="getOne(data[0].maCauHoi)" (click)="getDapAn(data[0].maCauHoi)"> Bắt đầu</button>
                    <button class="btn btn-warning" style="padding:15px;"> Quay lại trang chủ</button>
                </div>
            </div>
        </div>
    </div>
</section>