<section class="not-found">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="code">
                    404
                </div>
                <h1>Không tìm thấy trang bạn tìm kiếm</h1>
                <p class="lead">Trang bạn tìm kiếm không có sẵn, vui lòng kiểm tra lại đường dẫn của bạn.</p>
                <div class="search-form">
                    <!-- <form>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Type something ...">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </form> -->
                    <div class="link">
                        <a href="/admin/dashboard">Trở lại</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>