<style>
    .tieude {
        height: 105px;
        overflow: hidden;
    }
</style>

<section class="home">
    <div class="container">
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="line">
                    <div>Tin Tức Mới Nhất</div>
                </div>
                <div class="row" style="border-bottom:1px solid #ddd">
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngFor="let news of data">
                        <div class="row">
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a routerLink="/Detail/{{news.maTinTuc}}">
                                            <img src="../../../../assets/User/image/{{news.hinhAnh}}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding tieude">
                                        <div class="detail">
                                            <div class="time"> {{news.ngayThem| date: 'dd/MM/yyyy'}} </div>
                                            <!-- <div class="category"><a href="category.html">Healthy</a></div> -->
                                        </div>
                                        <h2><a routerLink="/Detail/{{news.maTinTuc}}"> {{news.tieuDe}} </a></h2>
                                        <p> </p>

                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>
                <div class="line transparent little"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h1 class="title-col">
                            Tin Tức Khoa Học Công Nghệ

                        </h1>
                        <div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav" data-item="article" *ngFor="let item of data_KHCN">
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a routerLink="/Detail/{{item.maTinTuc}}">
                                            <img src="../../../../assets/User/image/{{item.hinhAnh}}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a routerLink="/Detail/{{item.maTinTuc}}"> {{item.tieuDe}} </a></h1>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h1 class="title-col">
                            Tin An Toàn Bức Xạ Và Hạt Nhân

                        </h1>
                        <div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav" data-item="article" *ngFor="let item_ATBX of data_ATBX">
                            <article class="article-mini">
                                <div class="inner">
                                    <figure>
                                        <a routerLink="/Detail/{{item_ATBX.maTinTuc}}">
                                            <img src="../../../../assets/User/image/{{item_ATBX.hinhAnh}}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a routerLink="/Detail/{{item_ATBX.maTinTuc}}"> {{item_ATBX.tieuDe}} </a></h1>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>
                <div class="line top">
                    <div>Tin Sở hữu trí tuệ</div>
                </div>
                <div class="row" *ngFor="let item_SHTT of data_SHTT">
                    <article class="col-md-12 article-list">
                        <div class="inner">
                            <figure>
                                <a routerLink="/Detail/{{item_SHTT.maTinTuc}}">
                                    <img src="../../../../assets/User/image/{{item_SHTT.hinhAnh}}" alt="Sample Article">
                                </a>
                            </figure>
                            <div class="details">
                                <div class="detail">
                                    <div class="category">
                                        <a routerLink="/Detail/{{item_SHTT.maTinTuc}}"></a>
                                    </div>
                                    <!-- <div class="time">{{item_SHTT.ngayThem |date: 'dd/MM/yyyy'}}</div> -->
                                </div>
                                <h1><a routerLink="/Detail/{{item_SHTT.maTinTuc}}"> {{item_SHTT.tieuDe}} </a></h1>
                                <div class="time">{{item_SHTT.ngayThem |date: 'dd/MM/yyyy'}}</div>
                                <!-- <p>                                    
                                    Donec consequat, arcu at ultrices sodales, quam erat aliquet diam, sit amet interdum libero nunc accumsan nisi.
                                </p>
                                <footer>
                                     <a href="#" class="love"></a>
                                    <a class="btn btn-primary more" href="single.html">
                                        <div>More</div>
                                        <div><i class="ion-ios-arrow-thin-right"></i></div>
                                    </a> 
                                </footer>-->
                            </div>
                        </div>
                    </article>
                    <br>
                    <br>
                    <br>

                </div>
            </div>
            <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
                <div class="sidebar-title for-tablet">Sidebar</div>
                <aside>
                    <!-- <h1 class="aside-title">Tiêu chuẩn đo lường chất lượng </h1>                    -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="recomended" style="border-top:1px solid #ddd">
                            <a href="/">
                                <img src="../../../../assets/User/image/1.jpg" alt="Sample Article">
                            </a>
                            <a href="http://khcnhungyen.gov.vn/van-ban">
                                <img src="../../../../assets/User/image/bnr_bot3.png" style="width:300px;" alt="">
                            </a>
                            <a href="http://tdchungyen.gov.vn/">
                                <img src="../../../../assets/User/image/chicucTCDLCL(1).png" style="width:300px;" alt="">
                            </a>
                            <a href="http://khcnhungyen.gov.vn/tin-tuc-20">
                                <img src="../../../../assets/User/image/lay-y-kien-van-ban-khcn.png" style="width:300px;" alt="">
                            </a>


                        </div>

                    </div>
                </aside>

                <aside>
                    <h1 class="aside-title">Thông báo <a href="#" class="all">See All <i class="ion-ios-arrow-right"></i></a></h1>
                    <div class="aside-body" *ngFor="let item_TBCV of data_TBCV">

                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a routerLink="/Detail/{{item_TBCV.maTinTuc}}">
                                        <img src="../../../../assets/User/image/{{item_TBCV.hinhAnh}}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a routerLink="/Detail/{{item_TBCV.maTinTuc}}"> {{item_TBCV.tieuDe}} </a></h1>
                                </div>
                            </div>
                        </article>

                    </div>
                </aside>
                <aside>
                    <h1 class="aside-title">Tiêu chuẩn đo lường chất lượng </h1>
                    <div class="tab-content">
                        <div class="tab-pane active" id="recomended">
                            <article class="article-fw">
                                <div class="inner">
                                    <figure>
                                        <a routerLink="/Detail/{{data_TC_DL_CL[0].maTinTuc}} |async ">
                                            <img src="../../../../assets/User/image/{{data_TC_DL_CL[0].hinhAnh}}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <h1><a routerLink="/Detail/{{data_TC_DL_CL[0].maTinTuc}}"> {{data_TC_DL_CL[0].tieuDe  }}</a></h1>
                                    </div>
                                </div>
                            </article>
                            <div class="line"></div>
                            <article class="article-mini" *ngFor="let itemTC_DL_CL of data_TC_DL_CL">
                                <div class="inner">
                                    <figure>
                                        <a routerLink="/Detail/{{itemTC_DL_CL.maTinTuc}}">
                                            <img src="../../../../assets/User/image/{{itemTC_DL_CL.hinhAnh}}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <h1><a routerLink="/Detail/{{itemTC_DL_CL.maTinTuc}}">{{itemTC_DL_CL.tieuDe}}</a></h1>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </aside>
                <aside>
                    <h1 class="aside-title">Videos

                    </h1>
                    <div class="aside-body">
                        <ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
                            <li>
                                <iframe width="360" height="215" src="https://www.youtube.com/embed/lEmxFiBqeAM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <a data-youtube-id="SBjQ9tuuTJQ" data-action="magnific"></a>
                            </li>
                            <li>
                                <a data-youtube-id="9cVJr3eQfXc" data-action="magnific"></a>
                            </li>
                            <li>
                                <a data-youtube-id="DnGdoEa1tPg" data-action="magnific"></a>
                            </li>
                        </ul>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</section>