<!-- <div [@routerTransition]> -->
<app-page-header [heading]="'Quản lí khảo sát'" [icon]="'fa-table'"></app-page-header>


<div class="row">

    <div class="col col-xl-12 col-lg-12" ngDefaultControl>


        <div class="card mb-12">
            <div class="card-header">Thông tin khảo sát</div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên doanh nghiệp</th>
                            <th>Mã số thuế</th>
                            <th>Mã đợt khảo sát</th>
                            <th>Địa chỉ</th>
                            <th>Điện thoại</th>
                            <!-- <th>Mã đợt khảo sát</th> -->
                            <!-- <th>Ngày Thêm</th> -->
                            <!-- <th>Người Sửa</th> -->
                            <!-- <th>Ngày Sửa</th> -->
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of KS_DN; let i=index">
                            <td> {{i+1}} </td>
                            <td>{{item.tenToChuc}}</td>
                            <td> {{item.maDinhDanhDn}} </td>
                            <td> {{item.maDotKhaoSat}} </td>
                            <td> {{item.diaChi}} </td>
                            <td> {{item.dienThoai}} </td>

                            <!-- <td *ngIf="item.maTieuChiCha==null;"> 0 </td>
                            <td *ngIf="item.maTieuChiCha!=null;"> {{item.maTieuChiCha}} </td> -->
                            <!-- <td *ngIf="item.trangThai==1"> Đang hoạt động</td>
                            <td *ngIf="item.trangThai==0"> Không hoạt động</td>
                            <td *ngIf="item.trangThai==-1"> Đã xóa</td> -->

                            <!-- <td> {{item.ngayThem | date: 'dd/MM/yyyy hh:mm a'}} </td> -->
                            <!-- <td> {{item.nguoiSua}} </td> -->
                            <!-- <td> {{item.ngaySua | date: 'dd/MM/yyyy hh:mm a' }} </td> -->
                            <td>
                                <!-- <button type="button" (click)="getOne(item.maNhomCauHoi)" class="btn btn-primary " data-toggle="modal" data-target="#Sua">
                                        Sửa
                                    </button> -->

                                <button type="button" class="btn btn-info " (click)="getCTKS(item.maKhaoSat)" data-toggle="modal" data-target="#Details">
                                        Chi tiết 
                                      </button>
                                <button type="button" class="btn btn-danger " (click)="getCTKS(item.maKhaoSat)" data-toggle="modal" data-target="#Xoa">
                                        Xóa
                                      </button>


                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="modelTitleId">
                <div class="modal-dialog bd-example-modal-lg  modal-lg " role="document" style="margin-top:850px;">
                    <div class="modal-content modal-lg">
                        <div class="modal-header">
                            <h3 class="modal-title" style="margin-top: 17px;
                            margin-left: 7px;">Thông tin khảo sát</h3>
                            <h3 style="margin-top: 17px;margin-left: 17px;"> {{sl}}/50</h3>

                            <button type="button" style="margin-left: 450px;padding-left: 15px !important;
                            padding-right: 30px !important;" class="btn btn-primary btn-lg" (click)="exportExcel()">
                            <i class="fa fa-upload fa-fw"></i> Export
                            </button>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span >&times;</span>
                            </button>
                        </div>
                        <div class="modal-body  modal-lg">
                            <div class="container-fluid">
                                <table class="table table-hover table-striped" id="excel-table">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên tổ chức</th>
                                            <th>Mã số thuế</th>

                                            <th>Câu hỏi</th>
                                            <th>Đáp án</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of CTKS_CH_LC; let i=index">
                                            <td> {{i+1}} </td>
                                            <td>{{item.tenToChuc}}</td>
                                            <td>{{item.maDinhDanhDn}}</td>
                                            <td> {{item.noiDung_ch}} </td>
                                            <td>
                                                <p *ngIf="item.maLuaChon_lc!=null"> {{item.noiDung_lc}}</p>
                                                <p *ngIf="item.maLuaChon_lc==0"> {{item.giaTriNhap_ct}}</p>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <!-- <button type="button" class="btn btn-primary" (click)="Add()">Save</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = false</div> -->
            <!-- <ngb-pagination [(page)]="pageIndex" [boundaryLinks]="true" [collectionSize]="130" [maxSize]="5">
            </ngb-pagination> -->


            <!-- Modal Xóa -->

            <div class="modal fade" id="Xoa" #closebutton tabindex="-1" role="dialog" aria-labelledby="modelTitleId" *ngIf="CTKS_CH_LC" ngDefaultControl>
                <div class="modal-dialog" role="document" style="margin-top:200px;">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" ngDefaultControl>Xóa thông tin nhóm câu hỏi </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span >&times;</span>
                                    </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <span>Bạn có chắc chắn muốn xóa thông tin ?</span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete_KS(CTKS_CH_LC[0].maKhaoSat_ks)">Xóa</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<!-- </div> -->