<!-- <div [@routerTransition]> -->
<app-page-header [heading]="'Quản lí nhóm câu hỏi'" [icon]="'fa-table'"></app-page-header>
<div class="card mb-12">
    <div class="card-header">Thông tin liên hệ</div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên người liên hệ</th>
                    <th>Nội dung</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <!-- <th>Ngày Thêm</th> -->
                    <th>Tên doanh nghiệp</th>
                    <th>Thời gian gửi</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data; let i=index" (click)="getOne(item.maLienHe)" style="cursor:pointer">
                    <td> {{i+1}} </td>
                    <td>{{item.tenNguoiLienHe}}</td>
                    <td> {{item.noiDungLH}} </td>

                    <td> {{item.dienThoai}} </td>
                    <!-- <td> {{item.ngayThem | date: 'dd/MM/yyyy hh:mm a'}} </td> -->
                    <td> {{item.email}} </td>
                    <td> {{item.tenDoanhNghiep}} </td>
                    <td> {{item.thoiGianGui| date: 'dd/MM/yyyy hh:mm a'}} </td>
                    <td *ngIf="item.trangThai==1"> Đang hoạt động</td>
                    <td *ngIf="item.trangThai==0"> Không hoạt động</td>
                    <td *ngIf="item.trangThai==-1"> Đã xóa</td>
                    <!-- <td> {{item.ngaySua | date: 'dd/MM/yyyy hh:mm a' }} </td> -->
                    <td>
                        <button type="button" (click)="getOne(item.maLienHe)" class="btn btn-primary " data-toggle="modal" data-target="#Sua">
                                       Liên hệ
                                    </button>

                        <button type="button" (click)="getOne(item.maLienHe)" class="btn btn-danger " data-toggle="modal" data-target="#Xoa">
                                        Xóa
                                    </button>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = false</div> -->
    <!-- <ngb-pagination [(page)]="pageIndex" [boundaryLinks]="true" [collectionSize]=" this.total.totalRecord" [maxSize]="20">
                </ngb-pagination> -->
    <div _ngcontent-rjw-c115="" role="navigation" ng-reflect-page="3" ng-reflect-boundary-links="true" ng-reflect-collection-size="53" ng-reflect-max-size="20">
        <ul class="pagination">
            <li class="page-item" *ngIf="currentPage+1>=total">
                <a (click)="GetAll(1)" class="page-link"><span>««</span></a>
            </li>

            <li class="page-item"><a (click)="GetAll(currentPage-1)" class="page-link" *ngIf="currentPage+1>=total"><span>«</span>
                            </a></li>
            <div *ngFor="let item of counter(total); let i = index ">
                <li class="page-item active" *ngIf="i+1==currentPage">
                    <a (click)="GetAll(i+1)" class="page-link">{{i+1}}</a>
                </li>
                <li class="page-item" *ngIf="i+1!=currentPage">
                    <a (click)="GetAll(i+1)" class="page-link">{{i+1}}</a>
                </li>
            </div>


            <li class="page-item" *ngIf="currentPage+1<=total"><a (click)="GetAll(currentPage+1)" class="page-link"><span>»</span>
                            </a></li>

            <li class="page-item" *ngIf="currentPage+1<=total"><a (click)="GetAll(total)" class="page-link"><span>»»</span>
                            </a></li>



        </ul>
    </div>
    <!-- Modal Sửa -->
    <div class="modal fade" id="Sua" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" *ngIf="data_get" ngDefaultControl>
        <div class="modal-dialog modal-lg" role="document" style="margin-top:200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Trả lời liên hệ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span>&times;</span>
                                </button>
                </div>
                <div class="modal-body sua">
                    <div class="container-fluid">


                        <div class="form-group">
                            <label for="">Trả lời liên hệ</label>
                            <textarea type="text" name="trangThai" style="height:200px ;" id="" class="form-control" placeholder="" aria-describedby="helpId"></textarea>
                            <small id="helpId" class="text-muted"></small>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Gửi</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Modal Sửa  -->
    <!-- Modal Xóa -->

    <div class="modal fade" id="Xoa" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" *ngIf="data_get" ngDefaultControl>
        <div class="modal-dialog" role="document" style="margin-top:200px;">
            <div class="modal-content">
                <!-- <form method="post" (ngSubmit)="delete_NCH(item.maNhomCauHoi)" class="p-3" role="form"> -->
                <div class="modal-header">
                    <h5 class="modal-title" ngDefaultControl>Xóa thông tin liên hệ {{data_get.maLienHe}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span>&times;</span>
                                </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <span>Bạn có chắc chắn muốn xóa thông tin ?</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete_NCH(data_get.maLienHe)">Xóa</button>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>


</div>

<!-- </div>
    </div> -->
<!-- </div> -->